**/bin/**
**/obj/**

!**/addons/**/bin/**
!**/addons/**/obj/**

/.godot
# *.import
# *.uid

/.idea
/.vscode

# TODO: Commit a shared (non-user) DotSettings file for future contributors
*.DotSettings.user
*.xsd
