**/bin/**
**/obj/**

!**/addons/**/bin/**
!**/addons/**/obj/**

/.godot
# *.import
# *.uid

/.idea
/.vscode

# TODO: Stop ignoring DotSettings and set one up to sync to Git and other future contributors
*.DotSettings.user
*.xsd
