**/bin/**
**/obj/**

!**/addons/**/bin/**
!**/addons/**/obj/**

/.godot
# *.import
# *.uid

/.idea
/.vscode

# The profanity list is only committed encoded (see .github/scripts/profanity-list.sh)
/Common/Text/ProfanityList.json

# TODO: Commit a shared (non-user) DotSettings file for future contributors
*.DotSettings.user
*.xsd
